@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
  font-family: 'Suisse';
  font-weight: normal;
}

@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff
);
  font-family: 'Suisse';
  font-weight: bold;
}

html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: white;
  color: #666666;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Suisse';
  box-sizing: border-box;
  padding: 25px;
  max-height: 100vh;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}
.contact {
	 margin-left: 10px;
	 font-weight: normal;
     font-size: 18px;
	 text-align: center
	 }

.button {
  margin-left: 50px;
  width: 130px;
  height: 40px;
  padding-top: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.5;
}
.button2 {
  margin-left: 30px;
  width: 130px;
  height: 40px;
  padding-top: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
transition: opacity 0.2s;
}
.button2:hover {
  opacity: 0.5;
}
.image {
  width: 50%;
  display: block;
  margin: 70px auto 60px;
}

.advice {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.1;
}

.footer {
  height:150px;
position: absolute;
left: 0;
right: 0;
bottom: 0;
width: 100%;
background-color: #333333;
}
